:root {
    --primary-700: #07575B;
    --primary-500: #106C4B;
    --primary-300: #E0E7E6;
    --primary-100: #D1DBDB;

    --text-700: #000000;
    --text-300: #494949;

    font-size: 18px;
    /* Mobile phones*/
    @media (width <= 1000px) {
        font-size: 16px;
        html, body {
            max-width: 100vw;
        }
    }
}
